﻿@using System.Globalization
@using PartsUnlimited
@using Microsoft.DotNet.InternalAbstractions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Icon" href="/images/favicon.ico" />
    <title>@ViewData["Title"] – Parts Unlimited</title>
    @await Component.InvokeAsync("Configuration")

</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="primary-menu">
                    <div class="pull-left logo">
                        <a class="block logo-image" href="@Url.Action("Index", "Home")">
                            <img src="/images/unlimited_logo.png"/>
                        </a>
                        <a class="block" href="@Url.Action("Index", "Home")">
                            <h1>Parts Unlimited</h1>
                            <h2>a Fabrikam subsidiary</h2>
                        </a>
                        <div class="visible-xs cart">
                            <a href="@Url.Action("Index", "ShoppingCart")" class="head-link" id="shopping-cart-link"></a>
                        </div>
                    </div>
                    <div class="pull-right navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-header-nav">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="collapse-header-nav">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="hidden-xs">
                                    <div id="search-link-box">
                                        @using (Html.BeginForm("Index", "Search", FormMethod.Get))
                                        {
                                            @Html.TextBox("q", null, new { @class = "form-control", id = "search-box", placeholder = "Keyword" })
                                            <input type="submit" id="search-link" value="Search" />
                                        }
                                    </div>
                                </li>
                                <li><a href="@Url.Action("Index", "Home")" class="head-link" id="home-link">Home</a></li>
                                @await Component.InvokeAsync("CartSummary")
                                @await Html.PartialAsync("_AdminMenu")
                                @await Html.PartialAsync("_Login")
                                <li class="dropdown visible-xs">
                                    <a href="@Url.Action("Index", "Store")" class="dropdown-toggle head-link" data-toggle="dropdown">Categories&nbsp;<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        @await Component.InvokeAsync("CategoryMenu")
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-menu">
                <div class="container">
                    <div class="hidden-xs">
                        <ul>
                            @await Component.InvokeAsync("CategoryMenu")
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="visible-xs search-box">
            @using (Html.BeginForm("Index", "Search", FormMethod.Get))
            {
                @Html.TextBox("q", null, new { @class = "form-control", placeholder = "Search" })
                <input type="submit" value="" />
            }
        </div>
    </header>
    @RenderSection("prebody", false)
    <div class="container">
        @RenderBody()
    </div>
    <div class="clearfix"></div>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <div class="col-md-3">
                        <h4>Site Menu</h4>
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Index", "Store")">Browse</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Account</h4>
                        <ul>
                            <li>@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                            <li>@Html.ActionLink("Shopping Cart", "Index", "ShoppingCart")</li>
                            <li>@Html.ActionLink("View Orders", "Index", "Orders", new { Area = string.Empty })</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Additional Info</h4>
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Develop</h4>
                        <ul>
                            <li><a>GitHub Source</a></li>
                            <li><a>License Agreement</a></li>
                            <li><a href="http://asp.net/" target="_blank">ASP.NET</a></li>
                        </ul>
                        <p>Deploy to Azure</p>
                        <a class="deploy-azure">
                            <img src="/images/deploy_button.png"/>
                        </a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="pull-left-sm">
                            © @DateTime.UtcNow.Year Microsoft. Based on The Phoenix Project by <a href="http://www.realgenekim.me/" class="footer-link">Gene Kim</a>.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-left-sm pull-right-md">
                            All rights reserved. Your payments are safe and secure.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        Site powered by @RuntimeEnvironment.OperatingSystem @RuntimeEnvironment.OperatingSystemVersion
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Home.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Account.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ShoppingCart.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Store.css" rel="stylesheet" type="text/css" />
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-zoom/jquery.zoom.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/respond/respond.src.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
